#!/usr/bin/make -f

host_multiarch = $(shell dpkg-architecture -q DEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-abstract-sockets


override_dh_auto_install:
	sed -e "s,@LIBDIR@,$(host_multiarch),g" \
		$(CURDIR)/debian/gtk2-engines-sapwood.xsession.in \
		> $(CURDIR)/debian/gtk2-engines-sapwood.xsession
	chmod 755 $(CURDIR)/debian/gtk2-engines-sapwood.xsession
	dh_auto_install
	dh_installxsession -u 'pre 03'
